.coin {
    width: 100px;
    height: 100px;
    background-color: #f0f0f0;
    border-radius: 50%;
    position: relative;
}

.result-display{
    color: #fff;
    font-size: 2em;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 20px;
}

@keyframes flip {
    0%, 100% { transform: rotateY(0deg); }
    50% { transform: rotateY(1800deg); }
}