/* settings open sans font across all text */
* {
    font-family: 'open sans', sans-serif;
}

/* 
formatting for header and game tiles
dark semi transparent background with white text for readability
*/
.header, .game-item {
    background-color: #333; 
    color: white; 
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5); 
    padding: 10px 20px; 
    background: rgba(0, 0, 0, 0.5);
}

/* spacing between navigation bar items */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* navbar anchor formatting, removing text decoration and added hover effect */
.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    transition: color 0.3s ease;
}

/* hover effect for navbar items */
.navbar a:hover{
    color: #f0f0f0; /* Light grey on hover for visual feedback */
}

/* page formatting for gradient background and full viewport fit*/
html,body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background-image: url('../images/gradientBackground.svg');
    background-size: cover;
}

/* container for games */
.game-container{
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    max-height: 100vh;
    max-width: 100vw;
}

/* text formatting for scores and game names*/
.score-display, .game-name {
    color: #fff;
    font-size: 2em;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 20px;
}

/* button formatting for game restarts */
button {
    background-color: #2e2e2e;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    padding: 15px 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.25s ease;
}

/* button hover effect */
button:hover {
    background-color: #333;
    transform: translateY(-2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-item:hover, .home:hover, .game-item:hover {
    background-color: #333;
    transform: translateY(1px);
    box-shadow: 0 2px 6px rgba(255, 255, 255, 0.515);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 5px;
}

/* end game menu overlay */
.end-menu {
    display: none;
    margin: 50px auto;
    width: 200px;
    padding: 20px;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 1;
    border: 5px solid #2e2e2e;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* blur effect for background when end menu is open */
.backdrop-blur {
    filter: blur(5px);
}

/* styling for game canvas */
.game-canvas {
    border: 5px solid #2e2e2e;
    border-radius: 10px;
    display: block;
    margin: 25px auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}


/* styling for difficulty selection radios and footer */
.difficulty-selection, .footer{
    display: flex;
    color: #fff;
    font-size: 1em;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 0px;
    justify-content: center; 
    align-items: center; 
    flex-direction: row;
    width: 100%; 
    margin: 25px 0;
}

/* Base styles for the game grid container */
.game-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Base styles for individual game items */
.game-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 20%;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    cursor: pointer;
    margin: 10px; 
    border-radius: 10px;
}

/* sets each game image to same size */
.game-item img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

/* game descriptions are the same size */
.description {
    padding: 10px;
    font-size: 1.25em;
}

/* Hover effect */
.game-item:hover {
    transform: scale(1.05); /* Slightly enlarges the item */
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.8); /* Adds a white shadow around the item */
    border-radius: 10px; /* Optional: adds rounded corners to the items */
}

/* Media query for smaller screens */
@media (max-width: 600px) {
    .game-item {
        width: 45%; /* Adjusts the width of items for smaller screens */
        flex-direction: column;

    }
    .game-grid {
        flex-direction: column; /* Stacks items vertically on smaller screens */
    }
}